$enable-shadows: true;
$enable-gradients: true;
$enable-print-styles: true;

$font-family-sans-serif: "Open-Sans", "Roboto", "Lucida Sans", sans-serif;
$font-family-monospace: "ui-monospace", "Consolas", monospace;
$font-family-base: $font-family-sans-serif;

$headings-font-family: "Rogue", "Georgia", serif;
$headings-font-weight: 600;
$headings-line-height: 2;
$headings-margin-bottom: 0;
$headings-color: #666;

$font-size-sm: 1rem;
$font-size-base: 1.25rem;
$font-size-lg: 1.5rem;
$small-font-size: $font-size-sm;
$code-font-size: $font-size-base;
$navbar-brand-font-size: $font-size-base * 2;

$navbar-light-color: #800;
